#toTop{
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    color: #fff;
    background: $primary;
    padding: 8px 15px;
    cursor: pointer;
    display: block;
    z-index: 9999;
    &:hover{
        background: #fff;
        color: #000;
    }
}